*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  counter-reset: section;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
.main-section {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: var(--body-bg);
}

.wrapper-section-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
  align-items: center;
  background-color: var(--body-bg);
  max-width: var(--big-max-width);
  width: 100%;
  padding: 60px 10px;
  grid-gap: var(--gap);
}
.wrap-grid {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid red; //quitar antes de commit
}

.wrap-grid-dark {
  background-color: var(--color-dark-bg);
  border-radius: var(--border-radius);
  z-index: var(--z-normal);
}
