.btn-download-wrap {
  height: 100%;
  width: 100%;
  padding: 5px;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.btn-download {
  width: 30px;
  height: 30px;
  display: block;

  &:hover + .tooltip {
    opacity: 1;
    transform: translateY(0);
  }
}

.tooltip {
  display: flex;
  justify-content: center;
  transition: var(--transition-05);
  align-items: center;
  position: relative;
  height: 30px;
  background-color: #ffffff;
  border: 2px solid hsl(0, 0%, 85%);
  z-index: var(--z-tooltip);
  border-radius: var(--border-radius);
  transform: translateY(-5px);
  opacity: 0;
  &::before {
    content: "";
    width: 16px;
    border-top-right-radius: var(--border-radius);
    height: 16px;
    border-top: 2px solid hsl(0, 0%, 85%);
    border-right: 2px solid hsl(0, 0%, 85%);
    background-color: #ffffff;
    position: absolute;
    right: -9px;
    transform: rotate(45deg);
  }
  p {
    font-family: var(--body-font);
    font-size: var(--small-font-size);
    padding: 5px;
    z-index: var(--z-tooltip);
    color: hsl(0, 0%, 20%);
  }
}
