.marked-box {
  background-color: hsla(184, 20%, 67%, 0.45);
  position: absolute;
  top: 0;
  left: 0;
}

.marked-box-1 {
  font-size: var(--small-font-size);
  font-family: var(--body-font);
  color: hsla(0, 0%, 0%, 0.45);
  padding: 2px 3px;
  cursor: normal;
}
