:root {
  /*--- Typography variables ---*/
  --body-font: "Montserrat", sans-serif;
  --heading-font: "Comfortaas", sans-serif;

  /*--- Sizes variables ---*/
  --big-max-width: 1700px;
  --h1-font-size: 3rem;
  --h2-font-size: 2.75rem;
  --h3-font-size: 2.5rem;
  --medio-font-size: 2rem;
  --normal-font-size: 1.25rem;
  --small-font-size: 1rem;
  --smaller-font-size: 0.75rem;
  --heading-height: 5em;
  --body-line-height: 1.6;
  --border-radius: 0.25rem;
  --border-radius-50: 50%;
  --normal-paddings: 1em 2.5em;
  --gap: 1rem;

  /*--- Colors variables ---*/
  --color-first: hsl(205, 100%, 70%);
  --first-color: var(--color-first);

  --color-second: hsl(215, 100%, 70%);
  --second-color: var(--color-second);

  --color-text: hsl(0, 0%, 100%);
  --text-color: var(--color-text);

  --color-body-bg: hsl(0, 0%, 95%);
  --body-bg: var(--color-body-bg);

  --color-dark-bg: hsl(0, 0%, 20%);
  --bg-color-dark: var(--color-dark-bg);

  /*--- Transition & animations variables ---*/
  --transition-05: 0.5s;

  /*--- Z-index variables ---*/
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}
