.box-inpt-A3 {
  position: absolute;
  width: 100px;
  height: 40px;
}
.inpt-A3 {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  opacity: 0;
  z-index: var(--z-normal);

  &:checked + .box-span-inpt-A3 .span-input-A3 {
    transform: translateX(60px);
  }
}
.box-span-inpt-A3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 4px solid black;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.span-input-A3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background-color: black;
  transition: var(--transition-05);

  &::before {
    content: "ON";
    position: absolute;
    left: -60px;
    top: 0;
    text-align: center;
    line-height: 34px;
    width: 60px;
    height: 100%;
    background-color: #00da00;
    font-size: var(--small-font-size);
    font-family: var(--body-font);
    color: #ffffff;
  }

  &::after {
    content: "OFF";
    position: absolute;
    right: -60px;
    top: 0;
    text-align: center;
    line-height: 34px;
    width: 60px;
    height: 100%;
    background-color: #ff002f;
    font-size: var(--small-font-size);
    font-family: var(--body-font);
    color: #ffffff;
  }
}
