.list-inpt-B3 {
  position: relative;
  display: flex;
}

.list-item-inpy-B3 {
  position: relative;
  display: flex;
  justify-content: center;
  list-style: none;
  width: 50px;
  text-align: center;
}
.label-input-B3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.inpt-B3 {
  display: block;
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.span-inpt-B3 {
  position: relative;
  display: block;
  width: 70px;
  height: 70px;
  background-image: linear-gradient(#000, #333);
  border-radius: var(--border-radius-50);
  margin: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: var(--z-normal);

  &::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: var(--border-radius-50);
    background-color: #1b1b1b;
    z-index: var(--x-normal);
    transition: var(--transition-05);
    z-index: var(--z-normal);
  }
  &:after {
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background-color: #222222;
    border-radius: var(--border-radius-50);
    border: 2px solid #161616;
  }
}

.inpt-B3:checked ~ .span-inpt-B3::before {
  background-color: #00b0ff;
  box-shadow: 0 0 10px #00b0ff, 0 0 15px #00b0ff, 0 0 20px #00b0ff,
    0 0 25px #00b0ff, 0 0 30px #00b0ff, 0 0 2px #00aeff1a;
}

.inpt-F2:checked .label-input-F2::before {
  color: rebeccapurple;
}
