/*----------- variables -----------*/
/*---------------------------------*/
:root {
  /*--- Typography variables ---*/
  --body-font: "Montserrat", sans-serif;
  --heading-font: "Comfortaas", sans-serif;
  /*--- Sizes variables ---*/
  --big-max-width: 1700px;
  --h1-font-size: 3rem;
  --h2-font-size: 2.75rem;
  --h3-font-size: 2.5rem;
  --medio-font-size: 2rem;
  --normal-font-size: 1.25rem;
  --small-font-size: 1rem;
  --smaller-font-size: 0.75rem;
  --heading-height: 5em;
  --body-line-height: 1.6;
  --border-radius: 0.25rem;
  --border-radius-50: 50%;
  --normal-paddings: 1em 2.5em;
  --gap: 1rem;
  /*--- Colors variables ---*/
  --color-first: hsl(205, 100%, 70%);
  --first-color: var(--color-first);
  --color-second: hsl(215, 100%, 70%);
  --second-color: var(--color-second);
  --color-text: hsl(0, 0%, 100%);
  --text-color: var(--color-text);
  --color-body-bg: hsl(0, 0%, 95%);
  --body-bg: var(--color-body-bg);
  --color-dark-bg: hsl(0, 0%, 10%);
  --bg-color-dark: var(--color-dark-bg);
  /*--- Transition & animations variables ---*/
  --transition-05: 0.5s;
  /*--- Z-index variables ---*/
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/*---------------------------------*/
/*------- Header (not menu) -------*/
/*---------------------------------*/
.main-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: var(--heading-height);
  background-color: var(--first-color);
  padding: 0 50px;
}

.main-header-items {
  display: -ms-grid;
  display: grid;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-grid-columns: (auto)[2];
  grid-template-columns: repeat(2, auto);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: var(--big-max-width);
  width: 100%;
  height: 100%;
}

.svg-logo {
  text-decoration: none;
  display: block;
  height: 100%;
  height: var(--h1-font-size);
}

.title-h1.main-title {
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: var(--heading-font);
  font-size: var(--h1-font-size);
  z-index: var(--z-normal);
  color: var(--color-text);
}

/*---------------------------------*/
/*------ Body styles globals ------*/
/*---------------------------------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  counter-reset: section;
}

input:hover,
label:hover {
  cursor: pointer;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.main-section {
  position: relative;
  padding: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: var(--body-bg);
}

.wrapper-section-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
  grid-template-columns: repeat(5, 1fr);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--body-bg);
  max-width: var(--big-max-width);
  width: 100%;
  padding: 60px 10px;
  grid-gap: var(--gap);
}

.wrap-grid {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 0.5fr 2fr 0.5fr;
  grid-template-rows: 0.5fr 2fr 0.5fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
  min-width: 350px;
  height: 100%;
  border-radius: var(--border-radius);
  background-color: #fafafa;
  border: 2px solid #d9d9d9;
  z-index: var(--z-normal);
}

.dark {
  background-color: var(--color-dark-bg);
  border-radius: var(--border-radius);
  z-index: var(--z-normal);
}

.rotate-box-180 {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.box-cont {
  position: relative;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.box-input {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/*------ Marked box in wraps ------*/
.box-marked {
  position: relative;
  padding: 5px;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
}

.span-box-marked {
  background-color: rgba(154, 185, 188, 0.45);
  font-size: var(--smaller-font-size);
  font-family: var(--body-font);
  color: rgba(0, 0, 0, 0.45);
  padding: 2px 3px;
  border-radius: var(--border-radius);
}

/*------ Doenload button .scss for checkbox ------*/
.box-download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
  -ms-flex-pack: right;
  justify-content: right;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.btn-download-wrap {
  height: 100%;
  width: 100%;
  padding: 5px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.btn-download {
  width: 30px;
  height: 30px;
  display: block;
  margin-left: 20px;
}

.btn-download:hover + .tooltip {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  visibility: visible;
}

/*------ Tooltip in download button ------*/
.tooltip {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #333333;
  background-color: #ffffff;
  padding: 5px 10px;
  font-family: var(--body-font);
  font-size: var(--small-font-size);
  border: 2px solid #d9d9d9;
  border-radius: var(--border-radius);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: var(--transition-05);
  -o-transition: var(--transition-05);
  transition: var(--transition-05);
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
  z-index: var(--z-tooltip);
}

.tooltip::before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  border-top: 2px solid #d9d9d9;
  border-right: 2px solid #d9d9d9;
  background-color: #ffffff;
  right: -9px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*----------------------------------------------*/
/*=============== Styles of BTNs ===============*/
/*-------- Styles of inputs ROW-1 --------*/
/*---------------------------------*/
/*-------- Input checkbox A-1 --------*/
.inpt-A1 {
  margin: 30px;
}

.inpt-A1[type="checkbox"] {
  position: relative;
  width: 80px;
  height: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #cccccc;
  outline: none;
  border-radius: 20px;
  border: none;
  -webkit-transition: var(--transition-05);
  -o-transition: var(--transition-05);
  transition: var(--transition-05);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.inpt-A1[type="checkbox"]::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: var(--border-radius-50);
  top: 0;
  left: 0;
  background-color: #ffffff;
  -webkit-transition: var(--transition-05);
  -o-transition: var(--transition-05);
  transition: var(--transition-05);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.inpt-A1:checked[type="checkbox"] {
  background-color: #02a6f2;
}

.inpt-A1:checked[type="checkbox"]::before {
  left: 40px;
}

/*-------- Input checkbox B-1 --------*/
.label-inpt-B1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.inpt-B1 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.inpt-B1:hover + span {
  color: #4d4d4d;
  border-color: #4d4d4d;
}

.inpt-B1:checked + .span-inpt-B1 {
  color: #00fff5;
  border-color: #00fff5;
  -webkit-box-shadow: 0 0 5px #00fff5, inset 0 0 5px #00fff5;
  box-shadow: 0 0 5px #00fff5, inset 0 0 5px #00fff5;
  text-shadow: 0 0 5px #00fff5;
}

.span-inpt-B1 {
  display: block;
  background-color: #2e2e2e;
  padding: 0.5em;
  border: 4px solid #404040;
  font-size: var(--normal-font-size);
  color: #404040;
  border-radius: 90px;
  text-transform: uppercase;
  font-family: var(--body-font);
  overflow: hidden;
  -webkit-transition: var(--transition-05);
  -o-transition: var(--transition-05);
  transition: var(--transition-05);
}

/*-------- Input checkbox C-1 --------*/
.inpt-C1 {
  display: none;
}

.inpt-C1:checked + .label-inpt-C1 .span-inpt-C1::before {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  background-color: #404040;
  -webkit-animation: rotate_inpt_C1 2s linear infinite;
  animation: rotate_inpt_C1 2s linear infinite;
}

@-webkit-keyframes rotate_inpt_C1 {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate_inpt_C1 {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.label-inpt-C1 {
  position: relative;
  display: inline-block;
  color: #404040;
  font-size: var(--medio-font-size);
  font-family: var(--body-font);
}

.span-inpt-C1 {
  position: relative;
  top: 0;
  margin: 0 5px;
  display: inline-block;
  width: var(--medio-font-size);
  height: var(--medio-font-size);
  border: 4px solid #404040;
}

/*-------- Input checkbox D-1 --------*/
.inpt-D1 {
  display: none;
}

.label-inpt-D1 {
  display: block;
  margin: 0 auto;
  position: relative;
}

.label-inpt-D1::before {
  content: "\f005";
  font-family: fontAwesome;
  position: relative;
  display: block;
  font-size: var(--medio-font-size);
  color: #0f0f0f;
}

.label-inpt-D1::after {
  content: "\f005";
  font-family: fontAwesome;
  position: absolute;
  display: block;
  font-size: var(--medio-font-size);
  color: #fffb1f;
  top: 0;
  opacity: 0;
  -webkit-transition: var(--transition-05);
  -o-transition: var(--transition-05);
  transition: var(--transition-05);
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.label-inpt-D1:hover::after,
.label-inpt-D1:hover ~ .label-inpt-D1::after,
.inpt-D1:checked ~ .label-inpt-D1::after {
  opacity: 1;
}

/*-------- Input checkbox E-1 --------*/
.inpt-E1 {
  position: relative;
  top: 0;
  width: 40px;
  height: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  -webkit-transition: var(--transition-05);
  -o-transition: var(--transition-05);
  transition: var(--transition-05);
}

.inpt-E1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 4px solid var(--color-dark-bg);
  -webkit-transition: var(--transition-05);
  -o-transition: var(--transition-05);
  transition: var(--transition-05);
}

.inpt-E1:checked::before {
  border-left: none;
  border-top: none;
  width: 20px;
  border-color: #0f0;
  -webkit-transform: rotate(45deg) translate(5px, -10px);
  -ms-transform: rotate(45deg) translate(5px, -10px);
  transform: rotate(45deg) translate(5px, -10px);
}

/*-------- Styles of inputs ROW-2 --------*/
/*---------------------------------*/
/*-------- Input checkbox A-2 --------*/
.inpt-A2 {
  position: relative;
  width: 120px;
  height: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: -webkit-gradient(linear, left bottom, left top, from(#333), to(#000));
  background: -webkit-linear-gradient(bottom, #333, #000);
  background: -o-linear-gradient(bottom, #333, #000);
  background: linear-gradient(0deg, #333, #000);
  outline: none;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 0 4px #353535, 0 0 0 5px #3e3e3e, inset 0 0 10px black, 0 5px 20px rgba(0, 0, 0, 0.5), inset 0 0 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0 4px #353535, 0 0 0 5px #3e3e3e, inset 0 0 10px black, 0 5px 20px rgba(0, 0, 0, 0.5), inset 0 0 15px rgba(0, 0, 0, 0.2);
}

.inpt-A2:checked {
  background: -webkit-gradient(linear, left bottom, left top, from(#6dd1ff), to(#20b7ff));
  background: -webkit-linear-gradient(bottom, #6dd1ff, #20b7ff);
  background: -o-linear-gradient(bottom, #6dd1ff, #20b7ff);
  background: linear-gradient(0deg, #6dd1ff, #20b7ff);
}

.inpt-A2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 40px;
  background: -webkit-gradient(linear, left bottom, left top, from(#000000), to(#6b6b66));
  background: -webkit-linear-gradient(bottom, #000000, #6b6b66);
  background: -o-linear-gradient(bottom, #000000, #6b6b66);
  background: linear-gradient(0deg, #000000, #6b6b66);
  border-radius: 20px;
  border: 1px solid #232323;
  -webkit-transition: var(--transition-05);
  -o-transition: var(--transition-05);
  transition: var(--transition-05);
}

.inpt-A2:checked::before {
  left: 40px;
}

.inpt-A2::after {
  content: "";
  position: absolute;
  top: calc(50% - 2px);
  left: 65px;
  width: 4px;
  height: 4px;
  background: -webkit-gradient(linear, left bottom, left top, from(#6b6b66), to(#000));
  background: -webkit-linear-gradient(bottom, #6b6b66, #000);
  background: -o-linear-gradient(bottom, #6b6b66, #000);
  background: linear-gradient(0deg, #6b6b66, #000);
  border-radius: var(--border-radius-50);
  -webkit-transition: var(--transition-05);
  -o-transition: var(--transition-05);
  transition: var(--transition-05);
}

.inpt-A2:checked::after {
  background: #63cdff;
  left: 105px;
  -webkit-box-shadow: 0 0 5px #13b3ff;
  box-shadow: 0 0 5px #13b3ff;
}

/*-------- Input checkbox B-2 --------*/
.inpt-B2 {
  margin: 30px;
}

.inpt-B2[type="checkbox"] {
  position: relative;
  width: 80px;
  height: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fd5d5d;
  outline: none;
  border-radius: 20px;
  -webkit-transition: var(--transition-05);
  -o-transition: var(--transition-05);
  transition: var(--transition-05);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.inpt-B2[type="checkbox"]::before, .inpt-B2[type="checkbox"]::after {
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: var(--border-radius-50);
  background-color: #ffffff;
  -webkit-transition: var(--transition-05);
  -o-transition: var(--transition-05);
  transition: var(--transition-05);
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  font-size: var(--smaller-font-size);
  font-family: var(--body-font);
}

.inpt-B2[type="checkbox"]::before {
  content: "Off";
  top: 0;
  left: 0;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), inset 0 0 0 3px #f20202;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), inset 0 0 0 3px #f20202;
}

.inpt-B2:checked[type="checkbox"] {
  background-color: #78fd5d;
}

.inpt-B2:checked[type="checkbox"]::before {
  content: "On";
  left: 50px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), inset 0 0 0 3px #2af202;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), inset 0 0 0 3px #2af202;
}

/*-------- Input checkbox C-2 --------*/
.inpt-C2 {
  display: none;
}

.inpt-C2:checked ~ span {
  color: #fff;
  border: 2px solid #008eff;
}

.inpt-C2:checked ~ span::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #008eff;
  z-index: -1;
  -webkit-filter: blur(10px);
  filter: blur(10px);
}

.inpt-C2:checked ~ span::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #008eff;
  z-index: -1;
  -webkit-filter: blur(15px);
  filter: blur(15px);
}

.inpt-C2:checked ~ span.yes {
  color: #55ff00;
  border-color: #55ff00;
  -webkit-box-shadow: inset 0 0 10px #55ff00;
  box-shadow: inset 0 0 10px #55ff00;
}

.inpt-C2:checked ~ span.yes::before, .inpt-C2:checked ~ span.yes::after {
  background-color: #55ff00;
}

.inpt-C2:checked ~ span.no {
  color: #ff0000;
  border-color: #ff0000;
  -webkit-box-shadow: inset 0 0 10px #ff0000;
  box-shadow: inset 0 0 10px #ff0000;
}

.inpt-C2:checked ~ span.no::before, .inpt-C2:checked ~ span.no::after {
  background-color: #ff0000;
}

.span-inpt-C2 {
  position: relative;
  display: inline-block;
  text-align: center;
  margin: 20px 10px;
  padding: 5px;
  width: 50px;
  background-color: #000;
  color: #444;
  border: 2px solid #444;
  border-radius: 4px;
  font-size: var(--small-font-size);
  font-family: var(--body-font);
}

/*-------- Input checkbox D-2 --------*/
.list-inpt-D2 {
  padding: 10px 20px;
}

.list-item-inpy-D2 {
  list-style: none;
  position: relative;
  padding: 4px 0;
}

.label-input-D2 {
  color: #ffffff;
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
  padding-left: 30px;
}

.inpt-D2 {
  opacity: 0;
}

.inpt-D2:checked ~ .span-inpt-D2::before {
  background-color: #adff00;
  -webkit-box-shadow: 0 0 15px #adff00;
  box-shadow: 0 0 15px #adff00;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.span-inpt-D2 {
  position: absolute;
  top: 5px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: black;
  display: block;
  border-radius: var(--border-radius);
}

.span-inpt-D2:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  background-color: #000b10;
  border-radius: var(--border-radius);
  -webkit-transition: var(--transition-05);
  -o-transition: var(--transition-05);
  transition: var(--transition-05);
  -webkit-transform: translateX(170px);
  -ms-transform: translateX(170px);
  transform: translateX(170px);
}

/*-------- Input checkbox E-2 --------*/
.inpt-E2 {
  margin: 30px;
}

.inpt-E2[type="checkbox"] {
  position: relative;
  width: 80px;
  height: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: black;
  outline: none;
  border-radius: 20px;
  border: none;
  -webkit-transition: var(--transition-05);
  -o-transition: var(--transition-05);
  transition: var(--transition-05);
  border: 2px solid #ffffff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.inpt-E2[type="checkbox"]::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: var(--border-radius-50);
  top: 3px;
  left: 4px;
  background-color: #ffffff;
  -webkit-transition: var(--transition-05);
  -o-transition: var(--transition-05);
  transition: var(--transition-05);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.inpt-E2:checked[type="checkbox"] {
  background-color: #000000;
}

.inpt-E2:checked[type="checkbox"]::before {
  -webkit-transform: translateX(38px);
  -ms-transform: translateX(38px);
  transform: translateX(38px);
}

/*-------- Styles of inputs ROW-3 --------*/
/*---------------------------------*/
/*-------- Input checkbox A-3 --------*/
.box-inpt-A3 {
  position: absolute;
  width: 100px;
  height: 40px;
}

.inpt-A3 {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  opacity: 0;
  z-index: var(--z-normal);
}

.inpt-A3:checked + .box-span-inpt-A3 .span-input-A3 {
  -webkit-transform: translateX(60px);
  -ms-transform: translateX(60px);
  transform: translateX(60px);
}

.box-span-inpt-A3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 4px solid black;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.span-input-A3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background-color: black;
  -webkit-transition: var(--transition-05);
  -o-transition: var(--transition-05);
  transition: var(--transition-05);
}

.span-input-A3::before {
  content: "ON";
  position: absolute;
  left: -60px;
  top: 0;
  text-align: center;
  line-height: 34px;
  width: 60px;
  height: 100%;
  background-color: #00da00;
  font-size: var(--small-font-size);
  font-family: var(--body-font);
  color: #ffffff;
}

.span-input-A3::after {
  content: "OFF";
  position: absolute;
  right: -60px;
  top: 0;
  text-align: center;
  line-height: 34px;
  width: 60px;
  height: 100%;
  background-color: #ff002f;
  font-size: var(--small-font-size);
  font-family: var(--body-font);
  color: #ffffff;
}

/*-------- Input checkbox B-3 --------*/
.list-inpt-B3 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list-item-inpy-B3 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style: none;
  width: 50px;
  text-align: center;
}

.label-input-B3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}

.inpt-B3 {
  display: block;
  position: absolute;
  opacity: 0;
}

.span-inpt-B3 {
  position: relative;
  display: block;
  width: 70px;
  height: 70px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000), to(#333));
  background-image: -webkit-linear-gradient(#000, #333);
  background-image: -o-linear-gradient(#000, #333);
  background-image: linear-gradient(#000, #333);
  border-radius: var(--border-radius-50);
  margin: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: var(--z-normal);
}

.span-inpt-B3::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: var(--border-radius-50);
  background-color: #1b1b1b;
  z-index: var(--x-normal);
  -webkit-transition: var(--transition-05);
  -o-transition: var(--transition-05);
  transition: var(--transition-05);
  z-index: var(--z-normal);
}

.span-inpt-B3:after {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background-color: #222222;
  border-radius: var(--border-radius-50);
  border: 2px solid #161616;
}

.inpt-B3:checked ~ .span-inpt-B3::before {
  background-color: #00b0ff;
  -webkit-box-shadow: 0 0 10px #00b0ff, 0 0 15px #00b0ff, 0 0 20px #00b0ff, 0 0 25px #00b0ff, 0 0 30px #00b0ff, 0 0 2px #00aeff1a;
  box-shadow: 0 0 10px #00b0ff, 0 0 15px #00b0ff, 0 0 20px #00b0ff, 0 0 25px #00b0ff, 0 0 30px #00b0ff, 0 0 2px #00aeff1a;
}

.inpt-F2:checked .label-input-F2::before {
  color: rebeccapurple;
}

/*-------- Input checkbox C-3 --------*/
.label-inpt-C3 {
  position: relative;
}

.inpt-C3[type="checkbox"] {
  opacity: 0;
  display: none;
}

.inpt-C3[type="checkbox"]:checked ~ .span-inpt-C3 {
  border: 2px solid #ffffff;
}

.inpt-C3[type="checkbox"]:checked ~ .span-inpt-C3::before {
  -webkit-box-shadow: inset 0 0 0 2px #ffffff;
  box-shadow: inset 0 0 0 2px #ffffff;
  background-color: #ffffff;
  -webkit-transform: translateX(40px);
  -ms-transform: translateX(40px);
  transform: translateX(40px);
}

.inpt-C3[type="checkbox"]:checked ~ .span-ON-C3 {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  color: #ffffff;
}

.inpt-C3[type="checkbox"]:checked ~ .span-OFF-C3 {
  -webkit-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  transform: translateY(-20px);
  opacity: 0;
}

.span-inpt-C3 {
  display: block;
  width: 80px;
  height: 40px;
  border: 2px solid #222;
  border-radius: 20px;
  -webkit-transition: var(--transition-05);
  -o-transition: var(--transition-05);
  transition: var(--transition-05);
}

.span-inpt-C3::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 32px;
  height: 32px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: var(--border-radius-50);
  -webkit-transition: var(--transition-05);
  -o-transition: var(--transition-05);
  transition: var(--transition-05);
  -webkit-box-shadow: inset 0 0 0 2px #222;
  box-shadow: inset 0 0 0 2px #222;
}

.span-text-C3 {
  display: block;
  position: absolute;
  top: 0;
  right: -40px;
  width: 40px;
  color: #222;
  font-family: var(--body-font);
  font-size: var(--h3-font-size);
  font-weight: 600;
  -webkit-transition: var(--transition-05);
  -o-transition: var(--transition-05);
  transition: var(--transition-05);
}

.span-ON-C3 {
  -webkit-transform: translateY(20px);
  -ms-transform: translateY(20px);
  transform: translateY(20px);
  opacity: 0;
}

/*-------- Input checkbox D-3 --------*/
.list-inpt-D3 {
  padding: 0px 10px;
  border: 2px dashed black;
}

.list-item-inpy-D3 {
  list-style: none;
  padding: 5px 0;
  font-size: 16px;
}

.inpt-D3 {
  display: none;
}

.inpt-D3:checked ~ .span-text-inpt-D3 {
  color: #ccc;
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

.inpt-D3:checked ~ .span-text-inpt-D3::before {
  left: 100%;
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

.inpt-D3:checked ~ .span-text-inpt-D3::after {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.inpt-D3:checked ~ .span-icon-inpt-D3:before {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
}

.span-icon-inpt-D3 {
  position: relative;
  top: 0;
  width: 18px;
  height: 18px;
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
  border: 1px solid #262626;
  margin-right: 5px;
  display: inline-block;
  overflow: hidden;
  -webkit-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.span-icon-inpt-D3::before {
  content: "x";
  position: absolute;
  top: -5px;
  left: 3px;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.span-text-inpt-D3 {
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
  position: relative;
  display: inline-block;
  overflow: hidden;
  padding: 0 5px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.span-text-inpt-D3:before {
  content: "";
  position: absolute;
  top: 0;
  left: -150px;
  width: 100%;
  height: 100%;
  background-color: #ff3663;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.span-text-inpt-D3::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000000;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

/*-------- Input checkbox E-3 --------*/
.list-inpt-E3 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 3px solid #000;
  border-radius: 10px;
  padding: 5px;
  overflow: hidden;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#000), to(#0c0c0c));
  background-image: -webkit-linear-gradient(bottom, #000, #0c0c0c);
  background-image: -o-linear-gradient(bottom, #000, #0c0c0c);
  background-image: linear-gradient(0deg, #000, #0c0c0c);
}

.list-inpt-E3::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  bottom: -50%;
  pointer-events: none;
  z-index: 1;
}

.list-item-inpy-E3 {
  position: relative;
  list-style: none;
  text-align: center;
  margin: 5px;
}

.label-input-E3 {
  position: relative;
}

.inpt-E3 {
  position: absolute;
  opacity: 0;
}

.inpt-E3:checked ~ .box-ison-inpt-E3 {
  background-color: #000;
  border: 3px solid #fff;
  -webkit-box-shadow: 0 0 10px rgba(33, 156, 243, 0.5), 0 0 20px rgba(33, 156, 243, 0.5), 0 0 30px rgba(33, 156, 243, 0.5), inset 0 0 10px #219cf3;
  box-shadow: 0 0 10px rgba(33, 156, 243, 0.5), 0 0 20px rgba(33, 156, 243, 0.5), 0 0 30px rgba(33, 156, 243, 0.5), inset 0 0 10px #219cf3;
}

.inpt-E3:checked ~ .box-ison-inpt-E3 .span-icon-inpt-E3 {
  background-color: white;
  -webkit-box-shadow: 0 0 10px #219cf3, 0 0 20px rgba(33, 156, 243, 0.5), 0 0 30px #219cf3;
  box-shadow: 0 0 10px #219cf3, 0 0 20px rgba(33, 156, 243, 0.5), 0 0 30px #219cf3;
}

.box-ison-inpt-E3 {
  width: 40px;
  height: 40px;
  background-color: #101010;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 3px solid black;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.span-icon-inpt-E3 {
  display: block;
  background-color: #222;
  width: 10px;
  height: 10px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  border-radius: 10px;
}

/*-------- Styles of inputs ROW-4 --------*/
/*---------------------------------*/
/*-------- Input checkbox A-4 --------*/
.label-inpt-A4 {
  position: relative;
  width: 70px;
  height: 70px;
}

.inpt-A4 {
  opacity: 0;
}

.inpt-A4:checked ~ .span-inpt-A4 {
  -webkit-transform: rotate(130deg);
  -ms-transform: rotate(130deg);
  transform: rotate(130deg);
}

.inpt-A4:checked ~ .span-off-inpt-A4:before {
  background-color: #111111;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.inpt-A4:checked ~ .span-on-inpt-A4:before {
  background-color: lime;
  -webkit-box-shadow: 0 0 0 2px rgba(0, 255, 0, 0.2), 0 0 5px lime, 0 0 10px lime, 0 0 15px rgba(0, 255, 0, 0.2), 0 0 30px lime;
  box-shadow: 0 0 0 2px rgba(0, 255, 0, 0.2), 0 0 5px lime, 0 0 10px lime, 0 0 15px rgba(0, 255, 0, 0.2), 0 0 30px lime;
}

.span-inpt-A4 {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#262626), to(#141414));
  background-image: -webkit-linear-gradient(#262626, #141414);
  background-image: -o-linear-gradient(#262626, #141414);
  background-image: linear-gradient(#262626, #141414);
  -webkit-box-shadow: 0 0 0 4px #090909, inset 0 0 0 1px #090909;
  box-shadow: 0 0 0 4px #090909, inset 0 0 0 1px #090909;
  border-radius: var(--border-radius-50);
  -webkit-transition: var(--transition-05);
  -o-transition: var(--transition-05);
  transition: var(--transition-05);
}

.span-inpt-A4::before {
  content: "";
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#161616), to(#262626));
  background-image: -webkit-linear-gradient(#161616, #262626);
  background-image: -o-linear-gradient(#161616, #262626);
  background-image: linear-gradient(#161616, #262626);
  border-radius: var(--border-radius-50);
}

.span-inpt-A4:after {
  content: "";
  position: absolute;
  top: 25%;
  left: 9%;
  width: 4px;
  height: 10px;
  background-color: #555555;
  -webkit-transform: rotate(118deg);
  -ms-transform: rotate(118deg);
  transform: rotate(118deg);
}

.light-inpt-A4 {
  font-family: var(--body-font);
  font-size: var(--smaller-font-size);
  font-weight: 600;
  text-transform: uppercase;
  position: absolute;
}

.span-off-inpt-A4 {
  top: 0;
  left: -40px;
}

.span-off-inpt-A4::before {
  content: "";
  position: absolute;
  top: 18px;
  left: 10px;
  width: 5px;
  height: 5px;
  border-radius: var(--border-radius-50);
  background-color: #ff0000;
  -webkit-transition: var(--transition-05);
  -o-transition: var(--transition-05);
  transition: var(--transition-05);
  -webkit-box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.2), 0 0 5px red, 0 0 10px red, 0 0 15px red, 0 0 30px red;
  box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.2), 0 0 5px red, 0 0 10px red, 0 0 15px red, 0 0 30px red;
}

.span-on-inpt-A4 {
  top: 0;
  left: 80px;
}

.span-on-inpt-A4::before {
  content: "";
  position: absolute;
  top: 18px;
  left: 9px;
  width: 5px;
  height: 5px;
  background-color: #111111;
  border-radius: var(--border-radius-50);
  -webkit-transition: var(--transition-05);
  -o-transition: var(--transition-05);
  transition: var(--transition-05);
}

/*-------- Input checkbox B-4 --------*/
.box-inpt-B4 {
  position: relative;
  width: 100px;
  height: 40px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 200px;
  perspective: 200px;
  border: 2px solid #000000;
  border-radius: 20px;
}

.inpt-B4 {
  position: relative;
  width: 100px;
  height: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  -webkit-transition: var(--transition-05);
  -o-transition: var(--transition-05);
  transition: var(--transition-05);
}

.inpt-B4:checked ~ .span-on-inpt-B4::before {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.inpt-B4:checked ~ .span-off-inpt-B4::before {
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
}

.span-inpt-B4 {
  position: absolute;
  text-align: center;
  top: 0;
  width: 50%;
  height: 100%;
  line-height: 40px;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  font-family: var(--body-font);
  font-size: var(--small-font-size);
}

.span-off-inpt-B4 {
  right: 0;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  background-color: #f00;
}

.span-off-inpt-B4::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#0cd20c), to(#0f0));
  background-image: -webkit-linear-gradient(left, #0cd20c, #0f0);
  background-image: -o-linear-gradient(left, #0cd20c, #0f0);
  background-image: linear-gradient(90deg, #0cd20c, #0f0);
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
  -webkit-transition: var(--transition-05);
  -o-transition: var(--transition-05);
  transition: var(--transition-05);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.span-on-inpt-B4 {
  left: 0;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  background-color: #0f0;
}

.span-on-inpt-B4::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#f00), to(#d30808));
  background-image: -webkit-linear-gradient(left, #f00, #d30808);
  background-image: -o-linear-gradient(left, #f00, #d30808);
  background-image: linear-gradient(90deg, #f00, #d30808);
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  -webkit-transform-origin: right;
  -ms-transform-origin: right;
  transform-origin: right;
  -webkit-transition: var(--transition-05);
  -o-transition: var(--transition-05);
  transition: var(--transition-05);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/*-------- Input checkbox C-4 --------*/
.container-inpt-C-4 {
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.container-inpt-C-4:nth-child(2n + 1) .label-inpt-C4 .inpt-C4:checked ~ .span-off-inpt-C4 {
  background-color: #e9981e;
  color: #ffffff;
  -webkit-box-shadow: 0 2px 20px #e9981e;
  box-shadow: 0 2px 20px #e9981e;
}

.container-inpt-C-4:nth-child(2n + 2) .label-inpt-C4 .inpt-C4:checked ~ .span-off-inpt-C4 {
  background-color: #ec44f1;
  color: #ffffff;
  -webkit-box-shadow: 0 2px 20px #ec44f1;
  box-shadow: 0 2px 20px #ec44f1;
}

.inpt-C4 {
  display: none;
}

.span-off-inpt-C4 {
  position: relative;
  display: block;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: #424242;
  padding: 10px 20px;
  color: #666666;
  border-radius: 30px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

.span-off-inpt-C4::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: rgba(255, 255, 255, 0.15);
}

/*---------------------------------*/
/*---------- Main footer ----------*/
/*---------------------------------*/
.main-footer {
  position: fixed;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  background-color: var(--bg-color-dark);
  z-index: var(--z-fixed);
}

.wrapper-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: var(--big-max-width);
  background-color: inherit;
  width: 100%;
  height: 2rem;
}

.text-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--small-font-size);
  letter-spacing: 2px;
}

.text-footer::after {
  content: url(../svg/favicon.svg);
  display: block;
  width: var(--small-font-size);
  margin-left: 5px;
}

/*------ Media Query for 1200px ------*/
@media only screen and (max-width: 750px) {
  :root {
    /*--- Sizes variables ---*/
    --big-max-width: 700px;
    --h1-font-size: 1.75rem;
    --heading-height: 3em;
  }
  .box-marked {
    visibility: hidden;
  }
  .wrapper-section-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    grid-gap: var(--gap);
  }
  .wrapper-section-grid {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Large devices (laptops/desktops, 1200px and up) */
@media only screen and (min-width: 750px) {
  :root {
    /*--- Sizes variables ---*/
    --big-max-width: 700px;
    --h1-font-size: 2rem;
    --heading-height: 4em;
  }
  .box-marked {
    visibility: hidden;
  }
  .wrapper-section-grid {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 770px) {
  :root {
    /*--- Sizes variables ---*/
    --big-max-width: 700px;
    --h1-font-size: 1.75rem;
    --heading-height: 3em;
  }
  .box-marked {
    visibility: hidden;
  }
  .wrapper-section-grid {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 1100px) {
  :root {
    /*--- Sizes variables ---*/
    --big-max-width: 1050px;
    --h1-font-size: 1.75rem;
    --heading-height: 3em;
  }
  .box-marked {
    visibility: hidden;
  }
  .wrapper-section-grid {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 1450px) {
  :root {
    /*--- Sizes variables ---*/
    --big-max-width: 1400px;
    --h1-font-size: 3rem;
    --heading-height: 5em;
  }
  .box-marked {
    visibility: visible;
  }
  .wrapper-section-grid {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (min-width: 1850px) {
  :root {
    /*--- Sizes variables ---*/
    --big-max-width: 1700px;
    --h1-font-size: 3rem;
    --heading-height: 5em;
  }
  .box-marked {
    visibility: visible;
  }
  .wrapper-section-grid {
    -ms-grid-columns: (1fr)[5];
    grid-template-columns: repeat(5, 1fr);
  }
}
