/*----------- variables -----------*/
/*---------------------------------*/
:root {
  /*--- Typography variables ---*/
  --body-font: "Montserrat", sans-serif;
  --heading-font: "Comfortaas", sans-serif;
  /*--- Sizes variables ---*/
  --big-max-width: 1400px;
  --h1-font-size: 3rem;
  --h2-font-size: 2.75rem;
  --h3-font-size: 2.5rem;
  --medio-font-size: 2rem;
  --normal-font-size: 1.25rem;
  --small-font-size: 1rem;
  --smaller-font-size: 0.75rem;
  --heading-height: 5em;
  --body-line-height: 1.6;
  --border-radius: 0.25rem;
  --border-radius-50: 50%;
  --normal-paddings: 1em 2.5em;
  --gap: 1rem;
  /*--- Colors variables ---*/
  --color-first: hsl(205, 100%, 70%);
  --first-color: var(--color-first);
  --color-second: hsl(215, 100%, 70%);
  --second-color: var(--color-second);
  --color-text: hsl(0, 0%, 100%);
  --text-color: var(--color-text);
  --color-body-bg: hsl(0, 0%, 95%);
  --body-bg: var(--color-body-bg);
  --color-dark-bg: hsl(0, 0%, 20%);
  --bg-color-dark: var(--color-dark-bg);
  /*--- Transition & animations variables ---*/
  --transition-05: 0.5s;
  /*--- Z-index variables ---*/
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/*---------------------------------*/
/*------ Body styles globals ------*/
/*---------------------------------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  counter-reset: section;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.main-section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: var(--body-bg);
}

.wrapper-section-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
  grid-template-columns: repeat(6, 1fr);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--body-bg);
  max-width: var(--big-max-width);
  width: 100%;
  padding: 60px 10px;
  grid-gap: var(--gap);
}

.wrap-grid {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.wrap-grid-dark {
  background-color: var(--color-dark-bg);
  border-radius: var(--border-radius);
}

/*---------------------------------*/
/*------- Header (not menu) -------*/
/*---------------------------------*/
.main-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: var(--heading-height);
  background-color: var(--first-color);
}

.main-header-items {
  display: -ms-grid;
  display: grid;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: var(--big-max-width);
  width: 100%;
  height: 100%;
}

.link-logo,
.link-title-h1 {
  text-decoration: none;
  display: block;
}

.svg-logo {
  height: 100%;
  height: var(--h1-font-size);
}

.link-title-h1 {
  width: 100%;
  height: 100%;
  height: var(--h1-font-size);
}

/*----------------------------------------------*/
/*--------------- Styles of BTNs ---------------*/
/*----------------------------------------------*/
/*-------- Styles of inpt-1 --------*/
/*---------------------------------*/
.inpt-1 {
  margin: 30px;
}

.inpt-1[type="checkbox"] {
  position: relative;
  width: 80px;
  height: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #cccccc;
  outline: none;
  border-radius: 20px;
  border: none;
  -webkit-transition: var(--transition-05);
  -o-transition: var(--transition-05);
  transition: var(--transition-05);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.inpt-1[type="checkbox"]::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: var(--border-radius-50);
  top: 0;
  left: 0;
  background-color: #ffffff;
  -webkit-transition: var(--transition-05);
  -o-transition: var(--transition-05);
  transition: var(--transition-05);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.inpt-1:checked[type="checkbox"] {
  background-color: #02a6f2;
}

.inpt-1:checked[type="checkbox"]::before {
  left: 40px;
}

/*-------- Styles of inpt-2 --------*/
.inpt-2 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.inpt-2:hover + span {
  color: #4d4d4d;
  border-color: #4d4d4d;
  cursor: pointer;
}

.inpt-2:checked + .span-inpt-2 {
  color: #00fff5;
  border-color: #00fff5;
  -webkit-box-shadow: 0 0 5px #00fff5, inset 0 0 5px #00fff5;
  box-shadow: 0 0 5px #00fff5, inset 0 0 5px #00fff5;
  text-shadow: 0 0 5px #00fff5;
}

.span-inpt-2 {
  background-color: #2e2e2e;
  padding: 0.5em;
  border: 4px solid #404040;
  font-size: var(--normal-font-size);
  color: #404040;
  border-radius: 90px;
  text-transform: uppercase;
  font-family: var(--body-font);
  overflow: hidden;
  -webkit-transition: var(--transition-05);
  -o-transition: var(--transition-05);
  transition: var(--transition-05);
}

/*-------- Styles of inpt-3 --------*/
.inpt-3 {
  display: none;
}

.inpt-3:checked + .label-inpt-3 .span-inpt-3::before {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  background-color: #404040;
  -webkit-animation: rotate_inpt_3 2s linear infinite;
  animation: rotate_inpt_3 2s linear infinite;
}

@-webkit-keyframes rotate_inpt_3 {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate_inpt_3 {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.label-inpt-3 {
  position: relative;
  display: inline-block;
  color: #404040;
  font-size: var(--medio-font-size);
  cursor: pointer;
  font-family: var(--body-font);
}

.span-inpt-3 {
  position: relative;
  top: 0;
  margin: 0 5px;
  display: inline-block;
  width: var(--medio-font-size);
  height: var(--medio-font-size);
  border: 4px solid #404040;
}

/*-------- Styles of inpt-4 --------*/
.wrap-inpt-4 {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.inpt-4 {
  display: none;
}

.label-inpt-4 {
  display: block;
  cursor: pointer;
  margin: 0 auto;
  position: relative;
}

.label-inpt-4::before {
  content: "\f005";
  font-family: fontAwesome;
  position: relative;
  display: block;
  font-size: var(--medio-font-size);
  color: #0f0f0f;
}

.label-inpt-4::after {
  content: "\f005";
  font-family: fontAwesome;
  position: absolute;
  display: block;
  font-size: var(--medio-font-size);
  color: #fffb1f;
  top: 0;
  opacity: 0;
  -webkit-transition: var(--transition-05);
  -o-transition: var(--transition-05);
  transition: var(--transition-05);
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.label-inpt-4:hover::after,
.label-inpt-4:hover ~ .label-inpt-4::after,
.inpt-4:checked ~ .label-inpt-4::after {
  opacity: 1;
}

/*-------- Styles of inpt-5 --------*/
.inpt-5 {
  position: relative;
  top: 0;
  width: 40px;
  height: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  -webkit-transition: var(--transition-05);
  -o-transition: var(--transition-05);
  transition: var(--transition-05);
  cursor: pointer;
}

.inpt-5::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 4px solid var(--color-dark-bg);
  -webkit-transition: var(--transition-05);
  -o-transition: var(--transition-05);
  transition: var(--transition-05);
}

.inpt-5:checked::before {
  border-left: none;
  border-top: none;
  width: 20px;
  border-color: #0f0;
  -webkit-transform: rotate(45deg) translate(5px, -10px);
  -ms-transform: rotate(45deg) translate(5px, -10px);
  transform: rotate(45deg) translate(5px, -10px);
}

/*-------- Styles of inpt-6--------*/
.inpt-6 {
  position: relative;
  cursor: pointer;
  width: 120px;
  height: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: -webkit-gradient(linear, left bottom, left top, from(#333), to(#000));
  background: -webkit-linear-gradient(bottom, #333, #000);
  background: -o-linear-gradient(bottom, #333, #000);
  background: linear-gradient(0deg, #333, #000);
  outline: none;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 0 4px #353535, 0 0 0 5px #3e3e3e, inset 0 0 10px black, 0 5px 20px rgba(0, 0, 0, 0.5), inset 0 0 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0 4px #353535, 0 0 0 5px #3e3e3e, inset 0 0 10px black, 0 5px 20px rgba(0, 0, 0, 0.5), inset 0 0 15px rgba(0, 0, 0, 0.2);
}

.inpt-6:checked {
  background: -webkit-gradient(linear, left bottom, left top, from(#6dd1ff), to(#20b7ff));
  background: -webkit-linear-gradient(bottom, #6dd1ff, #20b7ff);
  background: -o-linear-gradient(bottom, #6dd1ff, #20b7ff);
  background: linear-gradient(0deg, #6dd1ff, #20b7ff);
}

.inpt-6::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 40px;
  background: -webkit-gradient(linear, left bottom, left top, from(#000000), to(#6b6b66));
  background: -webkit-linear-gradient(bottom, #000000, #6b6b66);
  background: -o-linear-gradient(bottom, #000000, #6b6b66);
  background: linear-gradient(0deg, #000000, #6b6b66);
  border-radius: 20px;
  border: 1px solid #232323;
  -webkit-transition: var(--transition-05);
  -o-transition: var(--transition-05);
  transition: var(--transition-05);
}

.inpt-6:checked::before {
  left: 40px;
}

.inpt-6::after {
  content: "";
  position: absolute;
  top: calc(50% - 2px);
  left: 65px;
  width: 4px;
  height: 4px;
  background: -webkit-gradient(linear, left bottom, left top, from(#6b6b66), to(#000));
  background: -webkit-linear-gradient(bottom, #6b6b66, #000);
  background: -o-linear-gradient(bottom, #6b6b66, #000);
  background: linear-gradient(0deg, #6b6b66, #000);
  border-radius: var(--border-radius-50);
  -webkit-transition: var(--transition-05);
  -o-transition: var(--transition-05);
  transition: var(--transition-05);
}

.inpt-6:checked::after {
  background: #63cdff;
  left: 105px;
  -webkit-box-shadow: 0 0 5px #13b3ff;
  box-shadow: 0 0 5px #13b3ff;
}

/*-------- Styles of inpt-7--------*/
.inpt-7 {
  margin: 30px;
}

.inpt-7[type="checkbox"] {
  position: relative;
  width: 80px;
  height: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fd5d5d;
  outline: none;
  border-radius: 20px;
  -webkit-transition: var(--transition-05);
  -o-transition: var(--transition-05);
  transition: var(--transition-05);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.inpt-7[type="checkbox"]::before, .inpt-7[type="checkbox"]::after {
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: var(--border-radius-50);
  background-color: #ffffff;
  -webkit-transition: var(--transition-05);
  -o-transition: var(--transition-05);
  transition: var(--transition-05);
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  font-size: var(--smaller-font-size);
  font-family: var(--body-font);
}

.inpt-7[type="checkbox"]::before {
  content: "Off";
  top: 0;
  left: 0;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), inset 0 0 0 3px #f20202;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), inset 0 0 0 3px #f20202;
}

.inpt-7:checked[type="checkbox"] {
  background-color: #78fd5d;
}

.inpt-7:checked[type="checkbox"]::before {
  content: "On";
  left: 50px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), inset 0 0 0 3px #2af202;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), inset 0 0 0 3px #2af202;
}

/*---------------------------------*/
/*---------- Main footer ----------*/
/*---------------------------------*/
.main-footer {
  position: fixed;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  background-color: var(--bg-color-dark);
}

.wrapper-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: var(--big-max-width);
  background-color: inherit;
  width: 100%;
  height: 2rem;
}

.text-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--small-font-size);
  letter-spacing: 2px;
}

.text-footer::after {
  content: url(../svg/favicon.svg);
  display: block;
  width: var(--small-font-size);
  margin-left: 5px;
}
