@import url("https://fonts.googleapis.com/css?family=Roboto:700,900");

$ratingGreyColor: #d0cccd;
$ratingBlueColor: #00b9ee;
$ratingDarkColor: #555e63;

.smile-rating-container-inpt-D6 {
  position: relative;
  max-width: 100%;
  font-family: "Roboto", sans-serif;
}

.submit-rating-inpt-D6 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.rating-label-inpt-D6 {
  position: relative;
  font-size: 1.6em;
  text-align: center;
  flex: 0.34;
  z-index: 3;
  font-weight: bold;
  color: $ratingGreyColor;
  transition: 500ms;
}
.rating-label-inpt-D6:hover,
.rating-label-inpt-D6:active {
  color: $ratingGreyColor;
}
.rating-label-fun-inpt-D6 {
  left: 10px;
  text-align: right;
}
.rating-label-meh-inpt-D6 {
  left: 40px;
  text-align: left;
  color: #222;
}
.smile-rating-container-inpt-D6 input {
  display: none;
}

.toggle-rating-pill-inpt-D6 {
  position: relative;
  height: 65px;
  width: 165px;
  background: $ratingGreyColor;
  border-radius: 500px;
  transition: all 500ms;
}

.smile-rating-toggle-inpt-D6 {
  position: relative;
  width: 54px;
  height: 54px;
  background-color: white;
  left: 60px;
  border-radius: 500px;
  transition: all 500ms;
  z-index: 4;
}
.rating-eye-inpt-D6 {
  position: absolute;
  height: 12px;
  width: 8px;
  background: $ratingGreyColor;
  border-radius: 500px;
  z-index: 5;
  transition: all 440ms;
  animation: blink-eye 3s infinite;
}
@keyframes blink-eye {
  0% {
    height: 12px;
    width: 8px;
    top: 22px;
  }
  20% {
    height: 12px;
    width: 8px;
    top: 22px;
  }
  40% {
    height: 12px;
    width: 8px;
    top: 22px;
  }
  60% {
    height: 12px;
    width: 8px;
    top: 22px;
  }
  80% {
    height: 12px;
    width: 8px;
    top: 22px;
  }
  90% {
    height: 12px;
    width: 8px;
    top: 22px;
  }
  95% {
    height: 2px;
    width: 8px;
    top: 30px;
  }
  100% {
    height: 12px;
    width: 8px;
    top: 22px;
  }
}
.rating-eye-left-inpt-D6 {
  left: 15px;
}
.rating-eye-right-inpt-D6 {
  left: 30px;
}

.mouth-inpt-D6 {
  position: absolute;
  width: 28px;
  height: 20px;
  z-index: 6;
  border: 4px solid $ratingGreyColor;
  border-radius: 10%;
  border-bottom-color: rgba(1, 1, 1, 0);
  border-right-color: rgba(1, 1, 1, 0);
  border-left-color: rgba(1, 1, 1, 0);
  top: 42px;
  left: 13px;
  transition: all 500ms;
}

/*
Toggle Changes
*/

#meh-inpt-D6:checked ~ .rating-label-meh-inpt-D6 {
  color: $ratingDarkColor;
}
#fun-inpt-D6:checked ~ .rating-label-meh-inpt-D6 {
  color: $ratingGreyColor;
}
#fun-inpt-D6:checked ~ .smile-rating-toggle-inpt-D6 .mouth-inpt-D6 {
  border: 4px solid $ratingBlueColor;
  border-top-color: rgba(1, 1, 1, 0);
  border-right-color: rgba(1, 1, 1, 0);
  border-left-color: rgba(1, 1, 1, 0);
  top: 25px;
  left: 13px;
  border-radius: 100%;
}

#fun-inpt-D6:checked ~ .rating-label-fun-inpt-D6 {
  color: $ratingDarkColor;
}
#fun-inpt-D6:checked ~ .smile-rating-toggle-inpt-D6 {
  left: 160px;
}

#fun-inpt-D6:checked ~ .rating-eye-left-inpt-D6 {
  left: 92px;
}
#fun-inpt-D6:checked ~ .rating-eye-right-inpt-D6 {
  left: 16px;
}

#fun-inpt-D6:checked ~ .toggle-rating-pill-inpt-D6 {
  background-color: $ratingBlueColor;
}

#fun-inpt-D6:checked ~ .smile-rating-toggle-inpt-D6 .rating-eye-inpt-D6 {
  background-color: $ratingBlueColor;
}
