.list-inpt-D2 {
  padding: 10px 20px;
}
.list-item-inpy-D2 {
  list-style: none;
  position: relative;
  padding: 4px 0;
}
.label-input-D2 {
  color: #ffffff;
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
  padding-left: 30px;
}
.inpt-D2 {
  opacity: 0;

  &:checked ~ .span-inpt-D2::before {
    background-color: #adff00;
    box-shadow: 0 0 15px #adff00;
    transform: translateX(0);
  }
}
.span-inpt-D2 {
  position: absolute;
  top: 5px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: black;
  display: block;
  border-radius: var(--border-radius);

  &:before {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    background-color: #000b10;
    border-radius: var(--border-radius);
    transition: var(--transition-05);
    transform: translateX(170px);
  }
}
