*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  counter-reset: section;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
.main-section {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: var(--body-bg);
}

.wrapper-section-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
  background-color: var(--body-bg);
  max-width: var(--big-max-width);
  width: 100%;
  padding: 60px 10px;
  grid-gap: var(--gap);
}
.wrap-grid {
  position: relative;
  display: grid;
  grid-template-rows: 0.5fr 2fr 0.5fr;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  background-color: hsl(0, 0%, 97%);
  border: 2px solid hsl(0, 0%, 90%);
}

.dark {
  background-color: var(--color-dark-bg);
  border-radius: var(--border-radius);
  z-index: var(--z-normal);
}

.rotate-box-180 {
  transform: rotateY(180deg);
}

.box-cont {
  position: relative;
  display: block;
  display: flex;
  width: 100%;
}

.box-input {
  justify-content: center;
}
