.box-download {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 100%;
  width: 100%;
}

.btn-download-wrap {
  height: 100%;
  width: 100%;
  padding: 5px;
  position: relative;
  display: flex;
  justify-content: end;
  flex-direction: row-reverse;
}
.btn-download {
  width: 30px;
  height: 30px;
  display: block;
  margin-left: 20px;

  &:hover + .tooltip {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
}
