.inpt-1 {
  margin: 30px;
  &[type="checkbox"] {
    position: relative;
    width: 80px;
    height: 40px;
    appearance: none;
    background-color: hsl(0, 0%, 80%);
    outline: none;
    border-radius: 20px;
    border: none;
    transition: var(--transition-05);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    &::before {
      content: "";
      position: absolute;
      width: 40px;
      height: 40px;
      border-radius: var(--border-radius-50);
      top: 0;
      left: 0;
      background-color: #ffffff;
      transition: var(--transition-05);
      transform: scale(1.1);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
  }
  &:checked[type="checkbox"] {
    background-color: #02a6f2;

    &::before {
      left: 40px;
    }
  }
}
