.inpt-C1 {
  display: none;

  &:checked + .label-inpt-C1 .span-inpt-C1::before {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    background-color: hsl(0, 0%, 25%);
    animation: rotate_inpt_C1 2s linear infinite;
  }
}

@keyframes rotate_inpt_C1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.label-inpt-C1 {
  position: relative;
  display: inline-block;
  color: hsl(0, 0%, 25%);
  font-size: var(--medio-font-size);
  cursor: pointer;
  font-family: var(--body-font);
}

.span-inpt-C1 {
  position: relative;
  top: 0;
  margin: 0 5px;
  display: inline-block;
  width: var(--medio-font-size);
  height: var(--medio-font-size);
  border: 4px solid hsl(0, 0%, 25%);
}
