.inpt-D1 {
  display: none;
}
.label-inpt-D1 {
  display: block;
  margin: 0 auto;
  position: relative;

  &::before {
    content: "\f005";
    font-family: fontAwesome;
    position: relative;
    display: block;
    font-size: var(--medio-font-size);
    color: hsl(0, 0%, 6%);
  }
  &::after {
    content: "\f005";
    font-family: fontAwesome;
    position: absolute;
    display: block;
    font-size: var(--medio-font-size);
    color: #fffb1f;
    top: 0;
    opacity: 0;
    transition: var(--transition-05);
    text-shadow: 0 2px 5px hsla(0, 0%, 0%, 0.5);
  }
}

.label-inpt-D1:hover::after,
.label-inpt-D1:hover ~ .label-inpt-D1::after,
.inpt-D1:checked ~ .label-inpt-D1::after {
  opacity: 1;
}
