$cheese: #ffd72c;
$crust: #ffb10b;
$sauce: #f9565b;
$roni: #dc453f;
$bg: #f5f4e2;
$black: #676550;
$t: transparent;
$sausage: #b0926d;
$pineapple: #ffffa2;
$pepper: #4cad7b;

.cont-inpt-B5 {
  transform: scale(0.5);
}
.toggle-inpt-B5 {
  display: block;
  background: #fff;
  width: 250px;
  height: 80px;
  box-shadow: 0 5px 25px -15px $black;
  position: relative;
  border-radius: 100px;
  opacity: 1;

  &:before {
    position: absolute;
    color: darken($bg, 15%);
    font-family: "Nunito";
    letter-spacing: 3px;
    width: 100%;
    text-align: center;
    top: -25px;
    font-size: 20px;
  }
  .toppings {
    transform: scale(0) rotate(0deg);
    transition: 0.15s ease-in-out;
    @for $i from 1 through 5 {
      &:nth-of-type(#{$i}) {
        left: #{$i * 18}px;
        top: #{$i * 14}px;
        margin-top: 10.5px;
        margin-left: 5px;
      }
    }
    &:nth-of-type(4) {
      left: 55px;
      top: 28px;
      margin-top: 0;
      margin-left: 0;
    }
    &:nth-of-type(5) {
      left: 25px;
      top: 58px;
      margin-top: 0;
      margin-left: 0;
    }
  }
  @for $i from 1 through 6 {
    &:nth-of-type(#{$i}) {
      animation-delay: #{$i / 10}s;
    }
  }
  &:nth-of-type(1) {
    &:before {
      content: "PEPPERONI";
    }
    .toppings {
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background: $roni;
      position: absolute;
    }
  }
  .inpt-B5 {
    &:checked ~ .pizza {
      animation: pizzaflip2 0.75s linear 1 forwards;
      @keyframes pizzaflip2 {
        0% {
          transform: translateX(0) scale(1);
        }
        25% {
          transform: translateX(75px) translateY(-15px) scale(1.5);
        }
        75% {
          transform: translateX(100px) translateY(-15px) scale(1.5);
        }
        100% {
          transform: translateX(150px) scale(1) rotateX(-20deg);
        }
      }
    }
  }
}

.inpt-B5 {
  opacity: 0;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.shadow {
  position: absolute;
  z-index: 0;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: $black;
  top: calc(50% - 5px);
  left: 45px;
  box-shadow: 0 10px 30px 30px $black;
  transition: 0.75s linear;
  opacity: 0.25;
  animation: flipback 0.25s linear 1 forwards;
}
.pizza {
  position: absolute;
  left: 5px;
  top: -5px;
  width: 90px;
  height: 90px;
  border-radius: 100%;
  transition: 0.2s ease-in-out;
  transform: translateX(0);
  animation: flipback 0.25s linear 1 forwards;
  transform-style: preserve-3d;
  perspective: 10000px;
  @keyframes flipback {
    0% {
      transform: translateX(150px) scale(1);
    }
    100% {
      transform: translateX(0px) scale(1);
    }
  }
  .inner {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        45deg,
        $t,
        $t 49%,
        darken($cheese, 10%) 49%,
        darken($cheese, 10%) 51%,
        $t 51%
      ),
      linear-gradient(
        -45deg,
        $t,
        $t 49%,
        darken($cheese, 10%) 49%,
        darken($cheese, 10%) 51%,
        $t 51%
      ),
      linear-gradient(
        90deg,
        $t,
        $t 49%,
        darken($cheese, 10%) 49%,
        darken($cheese, 10%) 51%,
        $t 51%
      ),
      linear-gradient(
        180deg,
        $t,
        $t 49%,
        darken($cheese, 10%) 49%,
        darken($cheese, 10%) 51%,
        $t 51%
      ),
      $cheese;
    box-shadow: inset 0 0 0 10px $crust;
    border-radius: 100%;
  }
}
.inpt-B5 {
  &:checked ~ .shadow {
    animation: shadowslide 0.75s linear 1 forwards;
    @keyframes shadowslide {
      0% {
        transform: translateX(0) scale(1);
      }
      25% {
        transform: translateX(75px) translateY(20px) scale(0.75);
      }
      75% {
        transform: translateX(100px) translateY(20px) scale(0.75);
      }
      100% {
        transform: translateX(150px) scale(1);
      }
    }
  }
  &:checked ~ .pizza {
    animation: pizzaflip 0.75s linear 1 forwards;
    .toppings {
      @for $i from 1 through 5 {
        &:nth-of-type(#{$i}) {
          transition-delay: #{$i/40 + 0.75}s;
          transform: scale(1) rotate(#{$i * 40}deg);
        }
      }
    }

    .inner {
      animation: spinwobble 0.75s linear 1 forwards;
      @keyframes spinwobble {
        0% {
          transform: rotateX(0deg) rotate(0deg);
        }
        30% {
          transform: rotateX(-30deg) rotate(120deg);
        }
        70% {
          transform: rotateX(30deg) rotate(240deg);
        }
        100% {
          transform: rotateX(0deg) rotate(360deg);
        }
      }
    }
  }
}
