<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="title" content="Effects and animation for buttons with Css and JavaScript" class="next-head")
    meta(name="description" content="Repositorio lleno de botonoes con diversoso efectos y estructuras con Pug y SCSS" class="next-head")

    title JD - Effects for buttons 

    link(rel="stylesheet", href="public/css/styles.css")
    link(rel="stylesheet", href="public/css/font-Montserrat.css")
    link(rel="stylesheet", href="public/css/font-Confortaa.css")
    link(rel="shortcut icon", href="public/svg/favicon.svg", type="image/x-icon")
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")

  body
    main.main

      header.main-header
         .main-header-items
          a(href="/").link-logo: img(src="public/svg/logo.svg", alt="").svg-logo
        
          a(href="/").link-title-h1.main-title: img(src="public/svg/title-h1.svg", alt="")

      section.main-section
        .wrapper-section-grid
          .wrap-grid.wrap-inpt-1
            input.inpt-1(type="checkbox", name="")
          
          .wrap-grid.wrap-inpt-2.wrap-grid-dark
            label.label-inpt-2
              input.inpt-2(type="checkbox", name="")
              span.span-inpt-2 Glowing
              
          .wrap-grid.wrap-inpt-3
            input.inpt-3#check-3(type="checkbox", name="")
            label.label-inpt-3(for="check-3")
              span.span-inpt-3 
              | Rotate

          .wrap-grid.wrap-inpt-4
            input.inpt-4.inpt-star-1(type="radio", name="star", id="star1")
            label.label-inpt-4(for="star1")
            |
            input.inpt-4.inpt-star-2(type="radio", name="star", id="star2")
            label.label-inpt-4(for="star2")
            |
            input.inpt-4.inpt-star-3(type="radio", name="star", id="star3")
            label.label-inpt-4(for="star3")
            |
            input.inpt-4.inpt-star-4(type="radio", name="star", id="star4")
            label.label-inpt-4(for="star4")
            |
            input.inpt-4.inpt-star-5(type="radio", name="star", id="star5")
            label.label-inpt-4(for="star5")
          
              

      footer.main-footer
        .wrapper-footer
          p.text-footer#textFooter

    script(src="public/js/scripts.js")
