<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="title" content="Effects and animation for buttons with Css and JavaScript" class="next-head")
    meta(name="description" content="Repositorio lleno de botonoes con diversoso efectos y estructuras con Pug y SCSS" class="next-head")

    title JD - Effects for buttons 

    link(rel="stylesheet", href="public/css/styles.css")
    link(rel="stylesheet", href="public/css/font-Montserrat.css")
    link(rel="stylesheet", href="public/css/font-Confortaa.css")
    link(rel="shortcut icon", href="public/svg/favicon.svg", type="image/x-icon")
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")

  body
    main.main

      header.main-header
         .main-header-items
          a(href="/").link-logo: img(src="public/svg/logo.svg", alt="").svg-logo
        
          a(href="/").link-title-h1.main-title: img(src="public/svg/title-h1.svg", alt="")

      section.main-section
        .wrapper-section-grid
          |
          <!--------------------------------------------->
          <!------------------ Row Input checkbox 1 ------------------>
          <!---------------------------------------------------------->
          |
          |
          <!------ Input checkbox A-1 ------>
          include include/row-1/input-A-1.pug
          |
          |
          <!------ Input checkbox B-1 ------>
          |
          include include/row-1/input-B-1.pug
          |
          |
          <!------ Input checkbox C-1 ------>
          |
          include include/row-1/input-C-1.pug
          |
          |
          <!------ Input checkbox D-1 ------>
          |
          include include/row-1/input-D-1.pug
          |
          |
          <!------ Input checkbox E-1 ------>
          |
          include include/row-1/input-E-1.pug
          |
          |
          <!------ Input checkbox F-1 ------>
          |
          include include/row-1/input-F-1.pug
          |
          |
          <!--------------------------------------------->
          <!------------------ Row Input checkbox 2 ------------------>
          <!---------------------------------------------------------->
          |
          |
          <!------ Input checkbox A-2 ------>
          |
          include include/row-2/input-A-2.pug
          |
          |
          <!------ Input checkbox B-2 ------>
          |
          include include/row-2/input-B-2.pug
          |
          |

      footer.main-footer
        .wrapper-footer
          p.text-footer#textFooter

    script(src="public/js/scripts.js")
