<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="title" content="Effects and animation for buttons with Css and JavaScript" class="next-head")
    meta(name="description" content="Repositorio lleno de botonoes con diversoso efectos y estructuras con Pug y SCSS" class="next-head")

    title JD - Effects for buttons 

    link(rel="stylesheet", href="public/css/styles.css")
    link(rel="stylesheet", href="public/css/font-Montserrat.css")
    link(rel="stylesheet", href="public/css/font-Confortaa.css")
    link(rel="shortcut icon", href="public/svg/favicon.svg", type="image/x-icon")
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")

  body
    main.main

      header.main-header
         .main-header-items
          a(href="/").link-logo: img(src="public/svg/logo.svg", alt="").svg-logo
        
          h1.title-h1.main-title Custom animated checkbox

      section.main-section
        .wrapper-section-grid
          |
          <!--------------------------------------------->
          <!------------------ Row Input checkbox 1 ------------------>
          <!---------------------------------------------------------->
          |
          |
          <!------ Input checkbox A-1 ------>
          include dist/inputs/row-1/input-A-1.pug
          |
          |
          <!------ Input checkbox B-1 ------>
          |
          include dist/inputs/row-1/input-B-1.pug
          |
          |
          <!------ Input checkbox C-1 ------>
          |
          include dist/inputs/row-1/input-C-1.pug
          |
          |
          <!------ Input checkbox D-1 ------>
          |
          include dist/inputs/row-1/input-D-1.pug
          |
          |
          <!------ Input checkbox E-1 ------>
          |
          include dist/inputs/row-1/input-E-1.pug
          |
          |
          <!--------------------------------------------->
          <!------------------ Row Input checkbox 2 ------------------>
          <!---------------------------------------------------------->

          <!------ Input checkbox A-2 ------>
          |
          include dist/inputs/row-2/input-A-2.pug
          |
          |
          <!------ Input checkbox B-2 ------>
          |
          include dist/inputs/row-2/input-B-2.pug
          |
          |
          <!------ Input checkbox C-2 ------>
          |
          include dist/inputs/row-2/input-C-2.pug
          |
          |
          <!------ Input checkbox D-2 ------>
          |
          include dist/inputs/row-2/input-D-2.pug
          |
          |
          <!------ Input checkbox E-2 ------>
          |
          include dist/inputs/row-2/input-E-2.pug
          |
          |
          <!--------------------------------------------->
          <!------------------ Row Input checkbox 3 ------------------>
          <!---------------------------------------------------------->
          |
          |
          <!------ Input checkbox A-3 ------>
          |
          include dist/inputs/row-3/input-A-3.pug
          |
          |
          <!------ Input checkbox B-3 ------>
          |
          include dist/inputs/row-3/input-B-3.pug
          |
          |
          <!------ Input checkbox C-3 ------>
          |
          include dist/inputs/row-3/input-C-3.pug
          |
          |
          <!------ Input checkbox D-3 ------>
          |
          include dist/inputs/row-3/input-D-3.pug
          |
          |
          <!------ Input checkbox E-3 ------>
          |
          include dist/inputs/row-3/input-E-3.pug
          |
          |
          <!--------------------------------------------->
          <!------------------ Row Input checkbox 4 ------------------>
          <!---------------------------------------------------------->
          |
          |
          <!------ Input checkbox A-4 ------>
          |
          include dist/inputs/row-4/input-A-4.pug
          |
          |
          <!------ Input checkbox B-4 ------>
          |
          include dist/inputs/row-4/input-B-4.pug
          |
          |
          <!------ Input checkbox C-4 ------>
          |
          include dist/inputs/row-4/input-C-4.pug
          |
          |
          <!------ Input checkbox D-4 ------>
          |
          include dist/inputs/row-4/input-D-4.pug
          |
          |
          <!------ Input checkbox E-4 ------>
          |
          include dist/inputs/row-4/input-E-4.pug
          |
          |
          <!--------------------------------------------->
          <!------------------ Row Input checkbox 5 ------------------>
          <!---------------------------------------------------------->
          |
          |
          <!------ Input checkbox A-5 ------>
          |
          include dist/inputs/row-5/input-A-5.pug
          |
          |
          <!------ Input checkbox B-5 ------>
          |
          include dist/inputs/row-5/input-B-5.pug
          |
          |
          <!------ Input checkbox C-5 ------>
          |
          include dist/inputs/row-5/input-C-5.pug
          |
          |
          <!------ Input checkbox D-5 ------>
          |
          include dist/inputs/row-5/input-D-5.pug
          |
          |
          <!------ Input checkbox E-5 ------>
          |
          include dist/inputs/row-5/input-E-5.pug
          |
          |
          <!--------------------------------------------->
          <!------------------ Row Input checkbox 6 ------------------>
          <!---------------------------------------------------------->
          |
          |
          <!------ Input checkbox A-6 ------>
          |
          include dist/inputs/row-6/input-A-6.pug
          |
          |
          <!------ Input checkbox B-6 ------>
          |
          include dist/inputs/row-6/input-B-6.pug
          |
          |
          <!------ Input checkbox C-6 ------>
          |
          include dist/inputs/row-6/input-C-6.pug
          |
          |
          <!------ Input checkbox D-6 ------>
          |
          include dist/inputs/row-6/input-D-6.pug
          |
          |
          <!------ Input checkbox E-6 ------>
          |
          include dist/inputs/row-6/input-E-6.pug
          |
          |
          <!--------------------------------------------->
          <!------------------ Row Input checkbox 7 ------------------>
          <!---------------------------------------------------------->
          |
          |
          <!------ Input checkbox A-7 ------>
          |
          include dist/inputs/row-7/input-A-7.pug
          |
          |
          <!------ Input checkbox B-7 ------>
          |
          include dist/inputs/row-7/input-B-7.pug
          |
          |
          <!------ Input checkbox C-7 ------>
          |
          include dist/inputs/row-7/input-C-7.pug
          |
          |
          <!------ Input checkbox D-7 ------>
          |
          include dist/inputs/row-7/input-D-7.pug
          |
          |
          <!------ Input checkbox E-7 ------>
          |
          include dist/inputs/row-7/input-E-7.pug
          |
          |
      footer.main-footer
        .wrapper-footer
          p.text-footer#textFooter

    script(src="public/js/scripts.js")
