.wrap-grid.wrap-inpt-C2.dark
 .box-cont.box-marked
   span.span-box-marked C-2

 .box-cont.box-input
    ul.list-inpt-C2
      li.list-item-inpy-C2
        label.label-input-C2(for="item-inpt-1") Lorem ipsum
          input.inpt-C2#item-inpt-1(type="checkbox", name="")
          span.span-inpt-C2

 .box-cont.box-download
   .btn-download-wrap
     a(href="/" download="").btn-download
       img(src="public/svg/btn-download.svg", alt="").img-btn-download
     .tooltip
       p Descargar archivo SASS
